# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/
[Rr]ecordings/

# Visual Studio / Rider
.vs/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
.vscode/

# Crash / Cache
sysinfo.txt
.gradle/

# Builds
*.apk
*.aab
*.unitypackage
*.app

# Addressables
[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*

# StreamingAssets temporary files
[Aa]ssets/[Ss]treamingAssets/aa.meta
[Aa]ssets/[Ss]treamingAssets/aa/*

# Asset store tools
[Aa]ssets/AssetStoreTools*

# Jetbrains Rider plugin
[Aa]ssets/Plugins/Editor/JetBrains*

# Exclude personal/editor configs
*.vsconfig
